// Color
$color_green_hover : #168a53;
$color_green : #1dbf73;
$color_green_link: #02c2a9;

// Font size:
$fs-1: 1rem;
$fs-2: 2rem;
$fs-3: 2.5rem;
$fs-4: 3rem;
$fs-5: 4rem;

// background color:
$bgColor-1 : #f7f7f7;

// Color a:href 
$color_gray_1 : #7a7d85;
$color_gray_2 : #b5b6ba;