.talent{
    background-color: #f1fdf7;
    .talent-item
    {
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding: 80px 0;
        .talent-content{
            .talent-text{
                width: 80%;
                h1{
                    font-weight: 600;
                    margin-bottom: 24px;
                }
                p{
                    font-size: 18px;
                    line-height: 26px;
                }
            }
            width: 50%;
            ul{
                list-style: none;
                li{
                    margin-bottom: 24px;
                }
            }
        }
        .talent-video{
            width: 50%;
            height: fit-content;
            position: relative;
            img{
                width: 100%;
                height: auto;
            }
            i{
                font-size: 30px;
                color: white;
                border: 1px solid rgba(25, 26, 25, 0.438);
                border-radius: 50%;
                padding: 25px;
                background-color: rgba(25, 26, 25, 0.726);
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    
}