#how_it_work {
    background-color: $bgColor-1;
    color: #555 ;
    .content {
        i {
            font-size: 3rem;
        }
        p {
            font-size: .9rem;
        }
        h3 {

        }
    }
}